}

#hearts-container {
    width: 100%;
    height: 100%;
}

.heart {
    position: absolute;
    font-size: 35px;
    user-select: none;
    animation: sway linear infinite; /* Добавляем анимацию покачивания */
}

@keyframes sway {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-55px); }
    100% { transform: translateX(0); }
}
